Check-master/Check/Web References/sutherlandsmbpov/u_poc_snf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.service-now.com/u_poc_snf" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.service-now.com/u_poc_snf" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.service-now.com/u_poc_snf">
      <xsd:element name="getKeys">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_row" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state_comment" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_row_error" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_table" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_transform_map" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_background_intelligent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_cryptographic_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_current_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_email_address" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_error_reporting_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_event_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_hard_disk_space" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_script_debugging" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_version" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_mac_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_max_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_network_location_awareness" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_os_version_and_service_pack" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_model" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_plug_and_play_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_print_spooler_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_remote_desktop_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_scan_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_server_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_restore_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_uptime" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_temporary_files_folders_size" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_total_physical_memory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_user_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_windows_update_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_workstation" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__encoded_query" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__limit" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__first_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__last_row" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKeysResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_row" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state_comment" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_row_error" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_table" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_transform_map" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_background_intelligent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_cryptographic_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_current_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_email_address" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_error_reporting_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_event_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_hard_disk_space" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_script_debugging" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_version" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_mac_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_max_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_network_location_awareness" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_os_version_and_service_pack" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_model" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_plug_and_play_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_print_spooler_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_remote_desktop_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_scan_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_server_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_restore_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_uptime" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_temporary_files_folders_size" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_total_physical_memory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_user_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_windows_update_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_workstation" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecords">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_row" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state_comment" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_row_error" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_table" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_transform_map" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_background_intelligent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_cryptographic_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_current_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_email_address" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_error_reporting_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_event_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_hard_disk_space" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_script_debugging" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_version" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_mac_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_max_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_network_location_awareness" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_os_version_and_service_pack" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_model" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_plug_and_play_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_print_spooler_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_remote_desktop_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_scan_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_server_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_restore_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_uptime" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_temporary_files_folders_size" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_total_physical_memory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_user_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_windows_update_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_workstation" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__use_view" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__encoded_query" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__limit" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__first_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__last_row" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__order_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__order_by_desc" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="__exclude_columns" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRecordsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="getRecordsResult">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_row" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_set" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state_comment" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_row_error" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_sys_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_table" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_transform_map" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_background_intelligent" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_cryptographic_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_current_clock_speed" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_email_address" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_error_reporting_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_event_type" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_hard_disk_space" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_script_debugging" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_version" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_mac_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_max_clock_speed" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_network_location_awareness" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_os_version_and_service_pack" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_model" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_name" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_plug_and_play_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_print_spooler_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_manufacturer" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_name" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_remote_desktop_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_scan_id" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_server_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_system_manufacturer" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_system_restore_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_system_uptime" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_temporary_files_folders_size" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_total_physical_memory" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_user_name" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_windows_update_service" type="xsd:string" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="u_workstation" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_background_intelligent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_cryptographic_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_current_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_email_address" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_error_reporting_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_event_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_hard_disk_space" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_script_debugging" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_version" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_mac_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_max_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_network_location_awareness" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_os_version_and_service_pack" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_model" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_plug_and_play_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_print_spooler_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_remote_desktop_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_scan_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_server_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_restore_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_uptime" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_temporary_files_folders_size" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_total_physical_memory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_user_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_windows_update_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_workstation" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="u_background_intelligent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_cryptographic_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_current_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_email_address" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_error_reporting_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_event_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_hard_disk_space" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_script_debugging" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_version" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_mac_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_max_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_network_location_awareness" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_os_version_and_service_pack" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_model" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_plug_and_play_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_print_spooler_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_remote_desktop_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_scan_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_server_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_restore_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_uptime" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_temporary_files_folders_size" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_total_physical_memory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_user_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_windows_update_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_workstation" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="insertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="table" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="display_name" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="display_value" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="status_message" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="error_message" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_class_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_created_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_row" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_set" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_import_state_comment" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_mod_count" type="xsd:integer" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_row_error" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_sys_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_target_table" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_transform_map" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_by" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="sys_updated_on" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_background_intelligent" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_cryptographic_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_current_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_email_address" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_error_reporting_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_event_type" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_hard_disk_space" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_script_debugging" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_ie_version" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_mac_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_max_clock_speed" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_network_location_awareness" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_os_version_and_service_pack" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_model" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_pc_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_plug_and_play_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_print_spooler_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_processor_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_remote_desktop_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_scan_id" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_server_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_manufacturer" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_restore_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_system_uptime" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_temporary_files_folders_size" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_total_physical_memory" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_user_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_windows_update_service" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="u_workstation" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteMultipleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRecord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="sys_id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRecordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="count" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="u_poc_snf" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="insertSoapOut">
    <wsdl:part name="u_poc_snf" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="deleteMultipleSoapIn">
    <wsdl:part name="u_poc_snf" element="tns:deleteMultiple" />
  </wsdl:message>
  <wsdl:message name="getRecordsSoapOut">
    <wsdl:part name="u_poc_snf" element="tns:getRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRecordSoapOut">
    <wsdl:part name="u_poc_snf" element="tns:deleteRecordResponse" />
  </wsdl:message>
  <wsdl:message name="getKeysSoapIn">
    <wsdl:part name="u_poc_snf" element="tns:getKeys" />
  </wsdl:message>
  <wsdl:message name="getKeysSoapOut">
    <wsdl:part name="u_poc_snf" element="tns:getKeysResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="u_poc_snf" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="deleteMultipleSoapOut">
    <wsdl:part name="u_poc_snf" element="tns:deleteMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="getSoapOut">
    <wsdl:part name="u_poc_snf" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="insertSoapIn">
    <wsdl:part name="u_poc_snf" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="getRecordsSoapIn">
    <wsdl:part name="u_poc_snf" element="tns:getRecords" />
  </wsdl:message>
  <wsdl:message name="getSoapIn">
    <wsdl:part name="u_poc_snf" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="deleteRecordSoapIn">
    <wsdl:part name="u_poc_snf" element="tns:deleteRecord" />
  </wsdl:message>
  <wsdl:portType name="ServiceNowSoap">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:insertSoapIn" />
      <wsdl:output message="tns:insertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteMultiple">
      <wsdl:input message="tns:deleteMultipleSoapIn" />
      <wsdl:output message="tns:deleteMultipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <wsdl:input message="tns:getKeysSoapIn" />
      <wsdl:output message="tns:getKeysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteRecord">
      <wsdl:input message="tns:deleteRecordSoapIn" />
      <wsdl:output message="tns:deleteRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input message="tns:getSoapIn" />
      <wsdl:output message="tns:getSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <wsdl:input message="tns:getRecordsSoapIn" />
      <wsdl:output message="tns:getRecordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceNowSoap" type="tns:ServiceNowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://www.service-now.com/u_poc_snf/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://www.service-now.com/u_poc_snf/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteMultiple">
      <soap:operation soapAction="http://www.service-now.com/u_poc_snf/deleteMultiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKeys">
      <soap:operation soapAction="http://www.service-now.com/u_poc_snf/getKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRecord">
      <soap:operation soapAction="http://www.service-now.com/u_poc_snf/deleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://www.service-now.com/u_poc_snf/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <soap:operation soapAction="http://www.service-now.com/u_poc_snf/getRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNow_u_poc_snf">
    <wsdl:port name="ServiceNowSoap" binding="tns:ServiceNowSoap">
      <soap:address location="https://sutherlandsmbpov.service-now.com/u_poc_snf.do?SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>